<div id="mobile-menu" class="mobile-menu" aria-hidden="true" role="dialog" aria-label="Mobile navigation">
  <ul class="mobile-menu__list">
    <li><a href="{{base}}index.html" class="mobile-menu__link" data-nav="home">Home</a></li>
    <li><a href="{{base}}about.html" class="mobile-menu__link" data-nav="about">About</a></li>
    <li><a href="{{base}}services/index.html" class="mobile-menu__link" data-nav="services">Services</a></li>
    <li><a href="{{base}}conditions.html" class="mobile-menu__link" data-nav="conditions">Conditions</a></li>
    <li><a href="{{base}}insurance.html" class="mobile-menu__link" data-nav="insurance">Insurance</a></li>
    <li><a href="{{base}}care.html" class="mobile-menu__link" data-nav="care">Care</a></li>
    <li><a href="{{base}}faq.html" class="mobile-menu__link" data-nav="faq">FAQ</a></li>
    <li><a href="{{base}}contact.html" class="mobile-menu__link" data-nav="contact">Contact</a></li>
  </ul>
  <div class="mobile-menu__cta">
    <a href="{{base}}intake.html" class="btn btn--primary btn--block">Request appointment</a>
  </div>
</div>
